.mainContent{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    max-width: calc(100vw);
    height: 100%;
    /* overflow: hidden; */
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.sideBar{
    z-index: 1;
    border: 1px solid #010101;
    position: absolute;
    left: 0px;
    top:0px;
    width: 200px;
}

.main{
   
    width: 100%;
    height: auto;
}

@media screen and (max-width:600px) {
    .main{
        max-width: 100%;
    }
}

@media screen and (min-width:600px) {
    .main{
        max-width: calc(100% - 200px);
        margin-left: 200px;
    }
    
}