.notification{
    position: fixed;
    top:120px;
    left:25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 50vw;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    z-index:100;
    
}

.red{
    background-color: var(--error-color);
    color:var(--on-error-text-color);
    text-align: center;
}

.green{
    background-color: #77C66E;
    color:var(--on-error-text-color);
    text-align: center;
}

.closeButton{
    align-self: flex-end;
   
}

.message{
    font-size: 16px;
}

.main{
    color: grey;
}

 @media only screen and (min-width: 600px) {
    .notification{
        width: 50vw;
        margin: auto;
    }
} 