.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
    /* border: 1px solid grey; */
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.icon{
    font-size: 22px;
    color: #010101;
}

.IconContainer{
    width: 48px;
    height: 48px;
    padding-top: 10px;
    border-radius: 50%;
    background-color: lightgrey;
    opacity: 0.8;
    vertical-align: middle;
    margin: auto;
}