.box{
    background-color:var(--surface-color);
    background-size:contain ;
    width: 100%;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--on-surface-text-color);
    border-radius: 10px;
    background-position:center;
    background-repeat: no-repeat;
    margin-bottom:0px;
    max-width: 420px;
    position: relative;
    
}

.buttonContainer{
    position: absolute;
    top:35%;
    left: 35%;
}
.selector{
    display: table-cell;
    vertical-align: middle;
}

.label{
    margin-bottom: 8px;
    /* color: grey; */
}