.landingContainer{
    position: relative;
    width: 100%;
    height: 0vh;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    /* background-image: url('/images/backGround.jpeg');
    background-size:cover;
    background-repeat: no-repeat; */
    
}

.backGroundImage{
    position: absolute;
    top: 0;
    left: 0;
    max-height: 600px;
    /* opacity: 0.9; */
}
.landingLegend{
    color: var(--primary-color);
    max-width: 100%;
    width: 60vw;
    height: auto;
    padding-bottom: 5%;
    position: absolute;
    top: 15vh;
    left: 0px;
    opacity: 0.9;
    background-color: var(--secondary-color);
}
.landingLegend h2{
    margin: 5% 0px 0px 5%;
    padding: 0px 0px 0px 0px;
   
}

.registerButtonContainer{
    margin-top: 4vh;
    text-align: center;
    
}
@media screen and (max-width:1200px){
    .landingLegend{
        
        width: 100%;
    }
    .landingLegend h2{
        margin: 1% 0px 0px 5%;
        padding: 0px 0px 0px 0px;
    }
    .landingLegend p{
        margin-top: 0px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 16px;
        line-height: 1.2;
        color: #010101;
    }
}

@media  screen and (min-width:1200px) {
    .landingLegend p{
        font-size: 22px;
        line-height: 1.2;
        margin-left: 5%;
        margin-right: 5%;
        color: #010101;
    }
}