.form{
    
    max-width: 90vw;
    margin: auto;

}
.title{
    text-align: center;
}

.submitButton{
    text-align: center;
    width: 100%;
    margin-bottom: 32px;
}

.passwordContainer{
    width: 100%; 
   position: relative;
   margin-top: 32px;
}

.passwordContainer i{
    position: absolute;
    top:40%;
    right: 20px;
    z-index: 2;
    border: none;
    cursor: pointer;
    font-size: 38px;
    color: lightgrey;
    /* transform: translateX(2px); */
    
   
}

.confirmPasswordContainer{
    width: 100%; 
   position: relative;
   margin-top: 32px;
}

.confirmPasswordContainer i{
    position: absolute;
    top:40%;
    right: 20px;
    z-index: 2;
    border: none;
    cursor: pointer;
    font-size: 38px;
    color: lightgrey;
    /* transform: translateX(2px); */
    
   
}


@media screen and (min-width:600px) {
    .submitButton{
        margin: auto;
        max-width: 320px;
        
    }
    
    .form{
        max-width:420px;
        margin: auto;
    
    }
}