.container{
    width: 100%;
    max-width: 600px;
}

.rewardForSharingContainer{
    width: 100%;
    margin-top: 32px;
}
.rewardForRegistrationContainer{
    width: 100%;
    margin-top: 32px;
}
.nextButtonContainer{
    width: 100%;
    margin-top: 32px;
}